.btn-round {
  border-radius: 15px;
}
.pic {
  overflow: hidden;
}
.pic-enlarge {
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
  position: relative;
  height: 150px; 
  background-size: cover; 
  background-position: center;
  &:hover {
    transform: scale(1.2, 1.2);
  }
}
.ul-category{
    a{
      border-radius: 15px;
      box-shadow: 1px 1px 2px $primary ;
      border: 1px solid  $primary;  
      text-align: center;
      display: block;
      padding: .75rem;
      transition: all .3s;
      margin-bottom: 10px;
      &:hover{
        background-color:  $primary;
        color: white;
      }
    }
    .active{
      background-color:  $primary;
      color: white;
    }
}
